@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/dela-gothic-one-v17-cyrillic_latin-regular.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/unbounded-v8-cyrillic_latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/unbounded-v8-cyrillic_latin-700.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/montserrat-v29-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Shantell Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/shantell-sans-v10-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Shantell Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../../fonts/shantell-sans-v10-cyrillic_latin-700italic.woff2') format('woff2');
}

*::-webkit-scrollbar{
  display: none;
}

.wrapper {
  max-width: 1360px;
  margin: 0 20px;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 1360px;
    margin: 0 auto;
  }
}

/* .slideButton{
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #9146E1 var(--tw-gradient-from-position);
  --tw-gradient-to: #9146E1 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
} 

.slideButton:first-child:active{
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
  --tw-gradient-to: #9146E1 var(--tw-gradient-to-position);
  --tw-gradient-from: #7D34CC var(--tw-gradient-from-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.slideButton:last-child:hover{
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #9146E1 var(--tw-gradient-from-position);
  --tw-gradient-to: #7D34CC var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
} */