@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/dela-gothic-one-v17-cyrillic_latin-regular.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/unbounded-v8-cyrillic_latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/unbounded-v8-cyrillic_latin-700.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/montserrat-v29-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Shantell Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/shantell-sans-v10-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Shantell Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../../fonts/shantell-sans-v10-cyrillic_latin-700italic.woff2') format('woff2');
}

.wrapper {
  max-width: 1360px;
  margin: 0 20px;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 1360px;
    margin: 0 auto;
  }
}